.page-change {
  height: 100vh;
  overflow-y: scroll;
  .navbar {
    padding: 8px;
    .logo {
      padding-left: 12px;
      height: 52px;
      span {
        display: inline-block;
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 22px;
        line-height: 24px;
        padding-left: 8px;
        position: relative;
        color: #5f6368;
        padding-left: 4px;
        margin-top: 1px;
        top: -1.5px;
        vertical-align: middle;
        letter-spacing: 0.01428571em;
      }
      &::before {
        content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg");
        display: inline-block;
        height: 24px;
        width: 74px;
      }
    }
    .utils {
      .btn-help {
        width: 44px;
        height: 44px;
        padding: 10px;
        border-radius: 50%;
        &:hover {
          background: #f5f5f5;
        }
      }
      .btn-apps {
        padding: 8px;
        border-radius: 50%;
        &:hover {
          background: #f5f5f5;
        }
        svg {
          width: 24px;
          height: 24px;
          color: #5f6368;
        }
      }
    }
  }
  .header {
    width: 870px;
    margin: auto;
    h1 {
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 1.75rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 2.25rem;
    }
    .btn-back {
      span {
        font-family: "Material Icons Extended";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-rendering: optimizeLegibility;
        text-transform: none;
        display: inline-block;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: "liga" 1;
        -webkit-font-smoothing: antialiased;
        color: rgb(95, 99, 104);
        font-size: 24px;
        font-weight: 400;
        margin-right: 4px;
        width: 48px;
        height: 48px;
      }
    }
  }
  .line {
    border-bottom: 1px solid rgb(218, 220, 224);
    margin-top: 3px;
  }
  .main {
    margin: auto;
    padding: 0 24px;
    max-width: 840px;
    box-sizing: content-box;
    .strong-password {
      max-width: 552px;
      margin-top: 32px;
      color: rgb(95, 99, 104);
      font-family: "Google Sans Text", "Google Sans", roboto, Arial, sans-serif;
      a {
        font-family: "Google Sans Text", "Google Sans", roboto, Arial,
          sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 24px;
        hyphens: auto;
        word-break: break-word;
        word-wrap: break-word;
      }
    }
    .change-password {
      margin-top: 24px;
      color: rgb(95, 99, 104);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 24px;
      hyphens: auto;
      font-family: "Google Sans Text", "Google Sans", roboto, Arial, sans-serif;
      word-break: break-word;
      word-wrap: break-word;
      margin-bottom: 32px;
      max-width: 552px;
      a {
        font-size: 16px;
        font-weight: 400;
        font-family: "Google Sans Text", "Google Sans", roboto, Arial,
          sans-serif;
        letter-spacing: 0;
        line-height: 24px;
        hyphens: auto;
        word-break: break-word;
        word-wrap: break-word;
      }
    }
    .form {
      max-width: 554px;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 8px;
      padding: 24px 24px 16px 24px;
      .valid {
        .place {
          color: #5f6368 !important;
        }
        input:focus + span.place {
          color: #1a73e8;
        }
        input {
          border: 1px solid #80858a !important;
          &:hover {
            border: 1px solid #202124 !important;
          }
          &:focus {
            border: 2px solid #1a73e8 !important;
          }
        }
      }
      .invalid {
        .place {
          color: #d93025;
        }
        input:focus + span.place {
          color: #d93025;
        }
        input {
          border: 1px solid #d93025;
          &:hover {
            border: 1px solid #d93025;
          }
          &:focus {
            border: 2px solid #d93025;
            margin-inline: -1px !important;
            box-shadow: none;
          }
        }
      }
      .place {
        color: #5f6368;
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        margin: 16px -3px;
        padding: 0 4px;
        color: #6c757d;
        display: flex;
        align-items: center;
        top: 0;
        left: 16px;
        transition: all 0.15s;
        transform-origin: 0% 0%;
        pointer-events: none;
      }
      input:focus + span.place,
      .valid .place {
        transform: scale(0.8) translateY(-30px);
        background: #fff;
      }
      input:focus + span.place {
        color: #1a73e8;
      }
      input {
        height: 56px;
        padding-left: 15.5px;
        border-radius: 4px;
        padding-top: 5px;
        letter-spacing: 0.00625em;
        border: 1px solid #80858a;
        &:hover {
          border: 1px solid #202124;
        }
        &:focus {
          border: 2px solid #1a73e8;
          margin-inline: -1px !important;
          box-shadow: none;
        }
      }
      .new-password {
        i {
          padding: 12px;
          top: 50%;
          right: -0.5px;
          transform: translateY(-50%);
        }
      }
      .description {
        padding-top: 19px;
        margin-top: 15px;
        margin-bottom: 30px;
        margin-left: 15px;
        margin: 15px 0 30px 15px;
        .strength {
          color: rgb(95, 99, 104);
          margin-bottom: 5px;
          font-size: 0.875rem;
          font-weight: 500;
          letter-spacing: 0.25px;
          font-family: roboto-bold, Arial, sans-serif;
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
        .desc {
          color: rgb(95, 99, 104);
          letter-spacing: 0.01428571em;
          font-size: 0.875rem;
          font-weight: 400;
          letter-spacing: 0.01428571em;
          line-height: 1.25rem;
        }
      }
      .confirm-password {
        &.not-match {
          .not-match-alert {
            display: flex !important;
          }
          .place {
            color: #d93025 !important;
          }
          input:focus + span.place {
            color: #d93025 !important;
          }
          input {
            border: 1px solid #d93025 !important;
            &:hover {
              border: 1px solid #d93025 !important;
            }
            &:focus {
              border: 2px solid #d93025 !important;
              margin-inline: -1px !important;
              box-shadow: none;
            }
          }
        }
        i {
          padding: 12px;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
        .not-match-alert {
          font-size: 0.75rem;
          letter-spacing: 0.025em;
          color: #d93025;
          position: absolute;
          bottom: -20px;
          font-weight: 400;
          line-height: 0.875rem;
          margin-left: 16px;
        }
      }
      .change-section {
        padding-top: 25px;
        .btn-change {
          margin-top: 24px;
          margin-bottom: 13px;
          padding: 7px 22px 6px 23px;
          margin-right: 1px;
          font-family: "Google Sans Text", roboto-bold, Arial, sans-serif;
          font-size: 0.875rem;
          background: #1a73e8;
          letter-spacing: 0.0107142857em;
          font-weight: 500;
          text-transform: none;
          border-radius: 4px;
        }
      }
    }
  }
}
